<div class="app-title">
	<div>
		<h1 ng-bind="$ctrl.page.title | translate"></h1>
	</div>
</div>
<div class="tile" ui-view="body">
	<div ng-repeat="section in $ctrl.page.sections">
	
	    <gec-form config="section" model="$ctrl.model[section.name]" ng-if="section.type=='form'" >

			<gec-form-footer ng-if="section.footer">
	
				<gec-button-action ng-repeat="action in section.footer.actions" config="action" handler="action.handler">
				</gec-button-action>
	
			</gec-form-footer>
	
		</gec-form>
			
		
		<gec-data-table config="section" criteria="$ctrl.criteria[section.name]" ng-if="section.type=='table'"
			page-data="$ctrl.pageData"> <gec-table-pagination ng-if="section.pagination"></gec-table-pagination>
		</gec-data-table>
	  
	</div>
	<div class="tile-footer d-flex justify-content-end"
		ng-if="$ctrl.page.footer">
		<p class="bs-component">
			<gec-button-action ng-repeat="action in $ctrl.page.footer.actions"
				config="action" handler="action.handler"> </gec-button-action>
		</p>
	</div>
</div>